<div id="<%= dom_id event %>">
    <%= event.title%>
    <%= event.location%>
    <%= event.creator.name%>

    <%= event.date.strftime("%A, %B %d, %Y") if !event.date.nil?%>
    <br>
    <%= link_to "Edit this event", edit_event_path if user_signed_in? && current_user.id == event.creator_id%>

    <h2>This event is currently: <%= event.privacy? ? "Private" : "Public"%> </h2>
    <h2>Attendees:</h2>
    <div class="attendees">
        <% a = event.attendees.all.to_a%>
        <% a.each do |b|%>
         <% if b.invites.any? {|invite| invite.status == "accepted"}%>
            <div class="b-name"><%= b.name%></div>
        <%end%>
        <%end%>
    </div>
          <br>

    <h2>Invitation:</h2>
    <div class="users-to-invite">
        <%users = User.all.to_a%>
        <%users.each do |user|%>
        <%next if current_user.nil?%>
        <%next if user.id == current_user.id%>
        <%next if  user.invites.find_by(event: event.id).status != "declined" if !user.invites.find_by(event: event.id).nil? %>
        
        <div class="invitation">
        <p>Invite <%= user.name %></p>
        <%= button_to "Invite this User", invites_path, method: :post, params: {invite: {user: user, event_id: event.id}}%>
        </div>
        <%end%>
    </div>
</div>
