<p style="color: green"><%= notice %></p>

<% content_for :title, "Events" %>

<h1>Events</h1>

<div id="events">
  <% @events.each do |event| %>
    <%= event.title.upcase %>
    <p>
      <%= link_to "Show this event", event %>
    </p>
  <% end %>
</div>

<%= link_to "New event", new_event_path %>

<%= button_to "Log off", destroy_user_session_path, method: :delete%>
<% if current_user%>
<%= button_to "Show this user", user_path(current_user.id), method: :get%>
<%end%>

<%= button_to "login", new_user_session_path%>