

<% content_for :title, "Events" %>

<div class="events-title">

</div>

<div id="events">
  <% @events.sort.each do |event| %>
    <% if event.privacy? %>
    <div class="event-card">
      <%= event.title.upcase%>
      <%= lock_image_for(event.privacy)%>
      <p>This is a private event!</p>
    </div>
    <% else %>
    <%= link_to event do %>
      <div class="event-card public">
       

        <%= event.title.upcase%>
        <%= lock_image_for(event.privacy)%>
      </div>
    <%end%>
  <%end%>

<%end%>
</div>


