

<% content_for :title, "Events" %>

<div class="events-title">

</div>

<div id="events">
  <% @events.sort.each do |event| %>
    <% if event.privacy %>
    <div class="event-card">
      <div class="event-title"><%= event.title.upcase%>  <%= lock_image_for(event.privacy)%></div>
        <div class="event-date">
          <%= event.date.strftime("Event date: %d/%m/%Y") if !event.date.nil?%>
        </div>
          <div class="event-place"> 
             <p>Location: <%=event.location%></p> 
          </div>
      
    </div>
    <% else %>
      <%= link_to event do %>
      <div class="event-card public">
        <div class="event-title"><%= event.title.upcase%>  <%= lock_image_for(event.privacy)%></div>
        <div class="event-date">
          <%= event.date.strftime("Event date: %d/%m/%Y")if !event.date.nil?%>
        </div>
          <div class="event-place"> 
             <p>Location: <%=event.location%></p> 
          </div>
      </div>
      <%end%>
  <%end%>
  <br>
<%end%>
</div>


